:root {
  --background-color: hsl(0, 0%, 0%);
  --label-color: hsl(0, 0%, 100%);
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Default to dark mode, unless the user really wants light mode */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: hsl(0, 0%, 100%);
    --label-color: hsl(0, 0%, 0%);
    transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
  }
}

body {
  font-family: var(--font-family-sans-serif);
  color: var(--label-color);
  background: var(--background-color);
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
  height: 100%;
}

.hero {
  padding: 1rem;
  min-height: 100%;
}

.hero .content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 600px;
}

.hero img {
  height: 100%;
}

.hero h1 {
  margin-right: 0;
  text-align: center;
  font-size: 4rem;
  animation: color-change 7s infinite;
}

@keyframes color-change {
    0% { color: #ff2d55}
    15% { color: #ff3b30}
    30% { color: #ff9500}
    45% { color: #ffcc00}
    60% { color: #4cd964}
    75% { color: #007aff}
    100% { color: #5856d6}
}
